# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

/home/sebastian/Documentos/Proyectos/doodba-projects/do-odooee18pruebas/odoo/custom/src/private/account_move_change_journal/FUNCIONAMIENTO.md